/* body {
  background: linear-gradient(-270deg, #2a003e, #003e76);
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
} */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling the entire page */
  font-family: "Poppins", sans-serif;
  background: #343537;
}

.background {
  position: fixed; /* Keeps the background static */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #2a003e,
    #003e76
  ); /* Background gradient */
  z-index: -1; /* Puts the background behind the content */
}

.background-spot {
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle,
    rgba(128, 0, 255, 0.7) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(100px);
  border-radius: 50%;
  pointer-events: none;
}

.spot1 {
  top: 20%;
  left: 15%;
}

.spot2 {
  bottom: 20%;
  right: 15%;
}

.spot3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  height: 100%;
  overflow-y: auto; /* Enables scrolling of the content */
  padding: 2rem;
  color: white;
  z-index: 1; /* Ensures the content stays above the background */
}

.content h1,
.content p {
  margin-bottom: 2rem;
  text-align: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-container {
  animation: rotate 10s ease-in-out forwards; /* 2 seconds, ease-in-out for smooth start/end */
}
